@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* Layout Breakpoints */
  --breakpoint-mobile: 375px;
  --breakpoint-desktop: 1440px;

  /* Colors */
  --color-white: hsl(0, 100%, 100%);
  --color-purple-100: hsl(275, 100%, 97%);
  --color-purple-600: hsl(292, 16%, 49%);
  --color-primary: #9e36e1;
  --color-purple-950: hsl(292, 42%, 14%);

  /* Typography */
  --font-family: "Work Sans", sans-serif;
  --font-size-base: 16px;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Spacing (optional for consistent padding/margins) */
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 3rem;

  /* Radius & Shadows */
  --radius-md: 10px;
  --shadow-default: 0 4px 16px rgba(0, 0, 0, 0.05);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  color: var(--color-purple-950);
}

.container {
  height: 100vh;
  background-color: var(--color-purple-100);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background {
  background-image: url("./assets/images/background-pattern-desktop.svg");
  background-position: top;
  background-size: cover;
  position: absolute;
  top: 0;
  height: 300px;
  width: 100%;
  z-index: 1;
}

.card {
  width: 50%;
  padding: 2rem;
  box-shadow: var(--shadow-default);
  border-radius: var(--radius-md);
  background-color: var(--color-white);
  z-index: 10;
}

.card .title {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.card .title h1 {
  font-size: 3rem;
}

.card .question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-weight-semibold);
  margin: 1rem 0;
}
.card .question:hover p {
  color: var(--color-primary);
  cursor: pointer;
}

.card .answer {
  display: none;
  color: var(--color-purple-600);
  margin: 2rem 0;
}

.minus-icon {
  display: none;
}

@media (max-width: 375px) {
  .card {
    width: 88%;
  }
  .card p {
    font-size: 16px;
    line-height: 1.4;
  }
  .answer p {
    font-size: 13px;
    line-height: 1.6;
  }
}
